@font-face {
    font-family: 'Klein Regular';
    src: url('./fonts/Klein-Regular.woff2') format('woff2'),
        url('./fonts/Klein-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klein Black';
    src: url('./fonts/Klein-Black.woff2') format('woff2'),
        url('./fonts/Klein-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klein Light';
    src: url('./fonts/Klein-Light.woff2') format('woff2'),
        url('./fonts/Klein-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klein Bold';
    src: url('./fonts/Klein-Bold.woff2') format('woff2'),
        url('./fonts/Klein-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1289px;
    margin: 0 auto;
}

p {
    font-family: "Klein Regular";
    font-weight: normal;
}

.container-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}



/*************

    HEADER

**************/

.header {
    /* position: sticky; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 85px;
    padding: 10px 20px;
}

.header .links a {
    color: black; /* Adapt Color */
    font-family: "Klein Light";
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    transition: 300ms all ease-in;
}

.header .links a:hover {
    color: #ffe955;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
}

nav.navbar a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: "Klein Light";
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 300ms all ease-in;
}

nav.navbar a:after {
    content: "";
    position: absolute;
    top: 100%;
    background-color: #ffe955;
    width: 100%;
    height: 2px;
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 500ms ease;
    will-change: transform, opacity;
}

nav.navbar a:hover:after {
    width: 100%;
    opacity: 1;
    transform: scaleX(1);
}

nav.navbar a:hover {
    color: #ffe955;
}

nav.navbar a.active {
    color: #ffe955;
}


/*************

    MODULES

**************/


.container-slider {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 600px;
    margin: auto;
}

.container-slider .content-slider {
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 100%;
}

.container-slider .content-slider .items {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 600px;
    transition: transform 1s ease-in-out;
    flex: 1;
}

.container-slider .content-slider .items .item {
    position: absolute;
    width: calc(100% - 140px);
    height: calc(100% - 200px);
    padding: 100px 70px;
    background-color: #FFDC00;
}

.container-slider .content-slider .items .item:nth-child(2) {
    left: 100%;
}

.container-slider .content-slider .items .item:nth-child(3) {
    left: 200%;
}

.container-slider .content-slider .items .item .title {
    font-family: "Klein Black";
    font-size: 1.5em;
    color: white;
    text-transform: none;
}

.container-slider .content-slider .items .item .description {
    font-family: "Klein Regular";
    font-size: 1em;
    color: white;
    padding-bottom: 100px;
}

.container-slider .content-slider .items .item .button {
    background-color: white;
    border-radius: 50px;
}

.container-slider .content-slider .items .item .button a {
    display: block;
    font-family: "Klein Black";
    font-weight: normal;
    font-size: 1.5em;
    color: #ffe955;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0;
}

.container-slider .content-slider .slider-controls {
    position: absolute;
    top: 90%;
    left: 20%;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

/* Module img */
.content-img {
    overflow: hidden;
    width: 100%;
}

.content-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Module Text only */
.content-txt {
    padding: 90px 40px 90px 90px;
    background-color: #F04229;

}

.content-txt-center {
    text-align: center;
}

.content-txt .title {
    font-family: "Klein Black";
    font-size: 1.6em;
    text-transform: uppercase;
    color: white;
}

.content-txt .description {
    font-family: "Klein Regular";
    font-size: 1.1em;
    color: white;
}


/* Module Row text + link */
.container-content-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.container-content-row .content-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 96px);
    padding: 48px;
    color: white;
    background-color: #FFDC00;
}

.container-content-row .content-row:nth-child(2n) {
    background-color: #0083C1;
}

.container-content-row .content-row img {
    margin-right: 15px;
}

.container-content-row .content-row div .title {
    font-family: "Klein Black";
    font-family: "Klein Regular";
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.container-content-row .content-row div .description {
    font-family: "Klein Regular";
    font-size: 1.4em;
}

.container-content-row .content-row a {
    margin-left: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.container-content-row .content-row a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}



/* Module Column text */
.container-content-column {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.container-content-column .content-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 96px);
    padding: 48px;
    color: white;
}

.container-content-column .content-column:nth-child(3n-2) {
    background-color: #BFA4F3;
}

.container-content-column .content-column:nth-child(3n-1) {
    background-color: #F04229;
}

.container-content-column .content-column:nth-child(3n) {
    background-color: #000760;
}

.container-content-column .content-column .title {
    font-family: "Klein Black";
    font-size: 1.5em;
    text-align: center;
}

.container-content-column .content-column .description {
    font-family: "Klein Regular";
    font-size: 1.4em;
    text-align: center;
}

.container-content-column .content-column a {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.container-content-column .content-column a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}



/* Module Video */

.content-video {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content-video .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-video img {
    display: block;
    width: 100%;
}

.content-video .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.content-video .play-button svg {
    width: 100%;
    height: 100%;
}

.content-video .play-button svg path {
    fill: #FFDC00;
}


/* Module Presentation */
.section-header {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 326px;
}

.section-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Klein Black";
    color: #ffffff;
    margin: 0;
    text-shadow: #000000 0px 0px 11px;
    transform: translate(-50%, -50%);
}


/* Module Text + Img side by side */
.container-text-image {
    display: flex;
    align-items: stretch;
}

.container-text-image .side-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: #001198;
}

.container-text-image .side-text .title {
    font-family: "Klein Black";
    font-size: 1.5em;
    margin-top: 90px;
    margin-left: 90px;
    margin-bottom: 1em;
    margin-right: 40px;
    color: #ffffff;
}

.container-text-image .side-text .description {
    font-family: "Klein Regular";
    font-size: 1em;
    padding-left: 90px;
    padding-right: 40px;
    padding-bottom: 40px;
    line-height: 1.5em;
    color: #ffffff;
    flex-grow: 1;
}

.container-text-image .side-text img {
    width: 100%;
}

.container-text-image .side-img {
    overflow: hidden;
    width: 100%;
}

.container-text-image .side-img img {
    display: block;
    width: 100%;
    height: auto;
}


/* Module 3 blocs */
.container-multiblocs {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.container-multiblocs-column {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}



/* Module Toggle */
.content-toggle {
    background-color: #FFDC00;
    padding: 40px;
}

.content-toggle .title {
    position: relative;
    font-family: "Klein Black";
    font-size: 2em;
    padding-top: 10px;
    padding-left: 60px;
    color: #ffffff;
    text-transform: uppercase;
}

.content-toggle .title:before {
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 49px;
    height: 49px;
    background-image: url(./images/toggle.png);

}



.content-toggle .description {
    font-family: "Klein Regular";
    font-size: 1em;
    color: #ffffff;
}

/*************

    FOOTER

**************/

footer {

}

footer .footer-top {
    display: flex;
    justify-content: space-between;
}


/* Nav footer */
footer .footer-top .footer-nav {
    padding: 0;
}

footer .footer-top .footer-nav li {
    list-style-type: none;
}

footer .footer-top .footer-nav li:before {
	content: "> ";
    font-size: 0.6em;
    font-weight: 300;
}


footer .footer-top .footer-nav li a {
    position: relative;
    color: black; /* adapt color */
    font-family: "Klein Light";
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    transition: all 300ms ease;
}

footer .footer-top .footer-nav li a:hover {
    color: #ffe955;
}

footer .footer-top .footer-nav li a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffe955;
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all 500ms ease;
    will-change: transform, opacity;
}

footer .footer-top .footer-nav li a:hover:after {
    opacity: 1;
    transform: scaleX(1);
}


/* Networks Footer */

footer .footer-top .networks {
    
}

footer .footer-top .networks p {
    font-family: "Klein Regular";
    font-size: 0.8em;
}

footer .footer-top .networks .networks-logo {
    display: flex;
    justify-content: space-between;
}

footer .footer-top .networks .networks-logo a {
    transition: transform 150ms ease-in;
}

footer .footer-top .networks .networks-logo a:nth-child(1), 
footer .footer-top .networks .networks-logo a:nth-child(2) {
    margin-right: 10px;
}

footer .footer-top .networks .networks-logo a:nth-child(2), 
footer .footer-top .networks .networks-logo a:nth-child(3) {
    margin-left: 10px;
}

footer .footer-top .networks .networks-logo a:hover {
    transform: scale(1.1);
}

/* Copyrights */
footer .footer-bottom {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-bottom p {
    font-family: "Klein Light";
    font-size: 0.8em;
}



@media screen and (max-width: 720px) {
    .header .links {
        display: none;
    }
    
    
    
    .container-content-row,
    .container-content-column,
    .container-slider,
    .container-text-image,
    .content-row,
    .container-multiblocs,
    .footer-top {
        flex-direction: column;
    }

    nav.navbar {
        display: none;
    }

    .side-text::before {
        background: none;
    }

    

    .container-text-image .side-text img {
        display: none;
    }
    .container-slider .content-slider {
        width: 100%;
    }

    .footer-top {
        padding-left: 45px;
        padding-right: 45px;
    }

    .footer-top .networks-logo {
        /* TODO */
        /* Adjust space between logos */
    }
}