.content-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F04229;

}

.content-txt-center {
    text-align: center;
}

.content-txt .title {
    font-family: "Klein Black";
    font-size: 1.6em;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 1em;
    margin: 0;
    text-transform: uppercase;
    color: white;
}

.content-txt .description {
    font-family: "Klein Regular";
    font-size: 1.1em;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 90px;
    margin: 0;
    color: white;
    flex-grow: 1;
}