.content-txt {
    padding: 90px 40px 90px 90px;
    background-color: #F04229;

}

.content-txt .title {
    font-family: "Klein Black";
    font-size: 1.6em;
    text-transform: uppercase;
    color: white;
}

.content-txt .description {
    font-family: "Klein Regular";
    font-size: 1.1em;
    color: white;
}